language: elixir

matrix:
  include:
    - otp_release: 18.3
      elixir: 1.3.2
    - otp_release: 19.0
      elixir: 1.3.2

sudo: false

script:
  - mix compile --warnings-as-errors
  - mix credo

notifications:
  email: false
